.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: getColor("hover");
  text-decoration: none;
}
.logo-decore {
  color: getColor("text");
}
.logo-footer {
  color: getColor("background");
}
