.footer {
  width: 100%;
  min-width: 480px;
  background-color: getColor("foreground");
}

.footer-box {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    height: 463px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.address {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    left: 70px;
  }
  & .logo {
    display: inline-block;
    margin-bottom: 20px;
    font-style: normal;
  }
  &__list {
    display: block;
  }

  &__item:not(:last-child) {
    margin-bottom: 10px;
  }

  &__link {
    font-size: 14px;
    line-height: 0.6;
    font-style: normal;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: getColor("text-mini");
    &--map {
      color: getColor("background");
    }
  }
}
.symbol-box {
  display: inline-block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    right: 70px;
  }
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  &__title {
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("background");
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }
}
.symbol-list {
  &__item--decor {
    border-radius: 50%;
    background-color: getColor("background-f");
  }
}
.footer-form {
  display: block;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: absolute;
    left: 166px;
    bottom: 70px;
  }

  &__label {
    display: block;
    font-weight: bold;
    font-size: 14px;
    line-height: 0.9;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor("background");
    cursor: pointer;
    margin-bottom: 20px;
  }

  &__input {
    width: 450px;
    height: 50px;
    background-color: getColor("foreground");
    color: getColor("background-a");
    border-radius: 4px;
    border: $border;
    outline: 0;
    padding-left: 16px;
    transition: color $time $cubic, border $time $cubic;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: block;
    }
    @media screen and (max-width: 1199px) {
      margin-bottom: 20px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-right: 12px;
    }
    &:focus {
      border: 1px solid getColor("hover");
      color: getColor("hover");
    }
  }
  &__button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    &::after {
      content: " ";
      width: 24px;
      height: 24px;
      background-image: url(../images/optim-svg/icon-moon/iconsend.svg);
      background-size: contain;
      margin: 0px 0px 0px 10px;
    }
  }
}
